h1{
    text-align: center;
    text-shadow: 5px solid lime;
    background-color: wheat;
    margin: 2px;
    padding: 30px;
}
h3{
    text-align: center;
    text-shadow: 5px solid lime;
    background-color: gold;
    font-size: 25px;
}