

/* Add padding to containers */
.container {
    padding: 16px;
    text-align: center;
  }
  
  /* Full-width input fields */
  .container input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 25px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  .container input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  .container hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 17px;
  }
  
  .registerbtn:hover {
    opacity:1;
  }
  input{
    margin: 0;
    padding: 0;
    text-align: center;
  }
  /* Add a blue text color to links */
  
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
  .log{
    text-align: center;
    border: 2px solid rgb(0, 2, 0);
    border-radius: 12px;
    margin-top: 15px;
    margin-left: 637px;
    margin-right: 40%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(1, 5, 2);
    cursor: pointer;
    font-size: 17px;
    background-color: rgb(216, 142, 57);
  }
  form{
    padding-bottom: 0px;
    margin-bottom: 0px;
  }