.sempages{
    color: rgb(241, 241, 241);
    text-align: center;
    font-size: 25px;
}
.orga{
    color: rgb(241, 241, 241);
    text-align: center;
    font-size: 25px;
}
.semedi{
padding: 8px 20px;
margin: 7px 3px;
border: 2px solid rgb(0, 2, 0);
border-radius: 8px;
font-size: 20px;
color: rgb(206, 72, 10);
cursor: pointer;
}
.firstsection {
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)), url("../Img/background.jpg");
    background-size: cover;
}
.text-big{
    color: rgb(222, 213, 241);
    text-shadow: 10px 10px 10px solid gray;
}
